<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Recovery Inference</title>
</head>

<body>

    <div class="container">
        <h1 class="my-4">Recovery Inference - Proof of Concept - UI</h1>
        <div class="form-group">
            <label for="pipelineSelect">Select Pipeline Stage:</label>
            <select class="form-control" id="pipelineSelect">
                <option value="suggest">Recovery inference - full pipeline</option>
                <option value="extract">Extracted triplets</option>
                <option value="preprocess">Preprocessed sentences</option>
                <option value="input">Input</option>
            </select>
        </div>

        <div id="userInput">
            <div class="form-group">
                <label for="inputType">Choose Input Type:</label>
                <select class="form-control" id="inputType">
                    <option value="text">Type Text</option>
                    <option value="file">Upload File</option>
                </select>
            </div>

            <div id="fileInputSection">
                <div class="form-group">
                    <label for="fileInput">Upload File:</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileInput">
                        <label class="custom-file-label" for="fileInput">Choose file</label>
                    </div>
                </div>
            </div>

            <div id="textInputSection">
                <div class="form-group">
                    <label for="textInput">Input Text:</label>
                    <textarea class="form-control" id="textInput" placeholder="Enter text..." rows="15"></textarea>
                </div>
                <button class="btn btn-primary" id="submitText">Submit</button>
            </div>
        </div>

        <div id="table-container"></div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>